# Copyright (c) 2016-present Sven Greb <development@svengreb.de>
# This source code is licensed under the Creative Commons Attribution-ShareAlike 4.0 International license found in the license file.

# Path match pattern to ignore (i.e. not reformat) certain files and folders.
# See https://prettier.io/docs/en/ignore for more details.

**/node_modules/*
# +--------+
# + Binary +
# +--------+
# *-- Affinity Designer 2 --*
**/*.afdesign binary
**/*.jpg binary
**/*.png binary
